.mytable {
    overflow-x: auto;
}

.pricing_table {
    widows: 100%;
    overflow-x: auto;
}

// Bulma
@import '~bulmaswatch/minty/bulmaswatch.scss';
//fontawesome
@import '~@fortawesome/fontawesome-free/css/all.css'